/* -------------------------------------------------------------- 
  The CSS in this file will override all other elements on the site. 
-------------------------------------------------------------- */


/* -------------------------------------------------------------- 
  Global Elements
-------------------------------------------------------------- */
a {text-decoration:none; color:#333;}
/* -------------------------------------------------------------- 
  Header Elements 
-------------------------------------------------------------- */
#header { border-bottom: 1px solid #ddd;}
#header .top_actions { float: right; display: inline;}

#admin_header { border-bottom: 1px solid #ddd; }
#admin_header .tabs {}
#admin_header .tabs li {}
#admin_header .tabs a {  font-weight: bold; background: #f8f8f8; color: #000; text-decoration: none; border: 1px solid #ddd; border-width: 1px 1px 0px 1px; }
#admin_header .tabs a:hover {background-color: #f2f2f2;}
#admin_header .selected a { background: #fff !important;}
#admin_header h2 {}

#top_actions .tabs {}
#top_actions input {}
#top_actions .tabs li {margin:3px 5px 3px 5px; padding:0px; border-radius:5px; background:#999; color:#fff; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset; -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset; box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset;}
#top_actions .tabs li.navname {margin:3px 5px 3px 5px; padding:0px; border-radius:5px; background:#ccc; color:#333; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset; -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset; box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset;}
#top_actions .tabs li.navlog {margin:3px 5px 3px 5px; padding:0px; border-radius:5px; background:#9ae34c; color:#333; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset; -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset; box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset;}
#top_actions .tabs li.navreg {margin:3px 5px 3px 5px; padding:0px; border-radius:5px; background:#ccc; color:#333; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset; -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset; box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset;}
#top_actions .tabs li:hover {background:#eee; color:#000;}
#top_actions .tabs li.navname:hover {background:#eee; color:#000;}
#top_actions .tabs li.navlog:hover {background:#70d900; color:#000;}
#top_actions .tabs li.navreg:hover {background:#eee; color:#000;}
#top_actions .tabs a {padding:5px 10px 5px 10px; background: transparent; font-weight: normal; color:#fff; transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
#top_actions .tabs a:hover {background: transparent; font-weight: normal; color:#000;}
.tabul {}
#top_actions .tabul li {width:90%; margin:3px; padding:2px; background:#fff; color:#000; transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
#top_actions .tabul li:hover {color:#333;}
#PostDisplayForm {}
#top_actions .tabs.chanlang {background:none;}
#top_actions .tabs.chanlang:hover {background:none;}
#top_actions .tabs a.chanlang {color:#fff;}
#top_actions .tabs a.chanlang:hover {color:#fff;}

/* -------------------------------------------------------------- 
  Main Question Display Pages
-------------------------------------------------------------- */
.list_answers_answered {
	background-color:#99CC33;
	color:#FFFFFF;
	border-radius:10px;
	-webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset; -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset; box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset;
}

.list_answers_unanswered {
	background-color:#CC3333;
	color:#FFFFFF;
	border-radius:10px;
	-webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset; -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset; box-shadow:0px 0px 5px 1px rgba(0,0,0,0.32) ,0px 0px 5px 1px rgba(0,0,0,0.12) inset;
}

.list_views {}

/* -------------------------------------------------------------- 
  Viewing an Individual Question
-------------------------------------------------------------- */
.user_info {
	background-color: #ffece5;
	border-radius:5px;
}

.answered .user_info {
	background-color:#FAFFF2;
}
/* -------------------------------------------------------------- 
  Widgets
-------------------------------------------------------------- */
.widget_box {background-color: #efefef; font-size: 13px; padding: 5px; margin-bottom: 5px;}
.widget_box h3 {color: #000 !important; padding: 0px; margin-bottom: 5px;}
.widget_box p {font-size: 15px; color: #222;}

/* -------------------------------------------------------------- 
  Tags
-------------------------------------------------------------- */
.tags {}
.tag {}
.tag a {
	background-color: #FFECE5;
	border-bottom: 1px solid #fcd6c9;
	border-right: 1px solid #fcd6c9;
	margin-right: 5px;
	color: #d05024;
	border-radius:5px;
	padding:6px;
}
.tag a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #d05024;
	border-bottom: 1px solid #FFECE5;
	border-right: 1px solid #FFECE5;
	border-radius:5px;
	padding:6px;
}